@use "variabels" as *;
body {
  font-family: $secondary-font;
  background-color: $primary-bg-color;
  color: $text-color;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  @include fontSize(3rem);
  color: $primary-color;
  font-family: $primary-font;
  margin-top: 3rem;

  @media only screen and (min-width: 600px) {
    @include fontSize(4rem);
  }

  @media only screen and (min-width: 1000px) {
    @include margin(4rem, 0, 3rem, 0);
  }
}

.current__joke {
  @include padding(0.6rem, 0.6rem, 0.6rem, 0.6rem);
  @include margin(1rem, 0.6rem, 1rem, 0.6rem);
  border-radius: 5px;
  background-color: $secondary-bg-color;

  &__text {
    line-height: 1rem;
    text-transform: capitalize;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;

    &--new {
      @include padding(0.4rem, 0.6rem, 0.4rem, 0.6rem);
      @include fontSize(1rem);
      display: flex;
      gap: 0.3rem;

      border-radius: 5px;
      align-items: center;
      cursor: pointer;
      background-color: $primary-color;
      font-weight: 700;

      border: 1px solid black;
      transition: all 0.3s ease-in-out;

      & svg {
        width: 1.5rem;
      }

      &:hover {
        background-color: $hover-primary-color;
      }
    }

    &--save {
      background-color: $secondary-bg-color;
      color: $primary-color;

      &:hover {
        color: black;
        background-color: $primary-color;
      }
    }
  }
  @media only screen and (min-width: 600px) {
    @include margin(2rem, 0.6rem, 2rem, 0.6rem);
    &__text {
      line-height: 1.5rem;
      @include fontSize(1.2rem);
    }

    &__actions {
      &--new {
        @include fontSize(1.2rem);
        @include padding(0.8rem, 1rem, 0.8rem, 1rem);
      }
    }
  }
}

.saved__joke {
  @include margin(0, 0.6rem, 1rem, 0.6rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  &__title {
    font-family: $primary-font;
    @include fontSize(2rem);
  }

  &__body {
    @include padding(0.6rem, 0.6rem, 0.6rem, 0.6rem);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: $secondary-bg-color;
    gap: 0.3rem;

    & svg {
      @include padding(0.2rem, 0.2rem, 0.2rem, 0.2rem);
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 4px;
      background-color: $delete-color;
      transition: all 0.3s ease-in-out;
      display: block;

      &:hover {
        background-color: $hover-delete-color;
      }
    }
  }

  &__text {
    @include fontSize(1rem);
  }

  @media only screen and (min-width: 600px) {
    @include margin(0, 0.6rem, 2rem, 0.6rem);
    &__title {
      @include fontSize(3rem);
    }

    &__body {
      gap: 0.5rem;
      & svg {
        width: 1.8rem;
        height: 1.8rem;
      }

      &__text {
        @include fontSize(1.2rem);
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
}
