@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Scribble&display=swap");

$primary-font: "Rubik Scribble", sans-serif;
$secondary-font: "Inter", sans-serif;

$text-color: white;

$primary-bg-color: rgb(32, 32, 32);
$secondary-bg-color: rgb(154, 152, 152);

$primary-color: green;
$delete-color: red;
$hover-delete-color: rgb(245, 88, 88);
$hover-primary-color: rgb(0, 103, 0);
