@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Scribble&display=swap");

$primary-font: "Rubik Scribble", sans-serif;
$secondary-font: "Inter", sans-serif;

$text-color: white;

$primary-bg-color: rgb(55, 55, 55);
$secondary-bg-color: gray;

$primary-color: green;
$delete-color: red;
$hover-delete-color: rgb(245, 88, 88);
