@use "_variables" as *;
@use "sass:color";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $secondary-font;
  background-color: $primary-bg-color;
  color: $text-color;
}

.container {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  @include fontSize(3rem);
  color: $primary-color;
  font-family: $primary-font;
  margin-top: 3rem;

  @media only screen and (min-width: 600px) {
    @include fontSize(4rem);
  }

  @media only screen and (min-width: 1000px) {
    @include margin(4rem, 0, 3rem, 0);
  }
}

.current-joke {
  @include padding(0.6rem, 0.9rem, 0.6rem, 0.9rem);
  @include margin(1rem, 0.6rem, 1rem, 0.6rem);
  border-radius: 5px;
  background-color: $secondary-bg-color;

  &__text {
    text-transform: capitalize;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    margin-top: 1.5rem;

    &--new,
    &--save {
      @include padding(0.6rem, 0.6rem, 0.6rem, 0.6rem);
      @include fontSize(1rem);
      display: flex;
      gap: 0.3rem;
      justify-content: center;
      border-radius: 5px;
      align-items: center;
      cursor: pointer;
      background-color: $primary-color;
      font-weight: 700;

      border: 1px solid black;
      transition: all 0.3s ease-in-out;

      & svg {
        width: 1.5rem;
      }

      &:hover {
        background-color: color.scale($primary-color, $lightness: 10%);
      }
    }

    &--save {
      background-color: $secondary-bg-color;
      color: $primary-color;

      &:hover {
        color: black;
        background-color: $primary-color;
      }
    }
  }
  @media only screen and (min-width: 600px) {
    @include margin(2rem, 0.6rem, 2rem, 0.6rem);
    &__text {
      line-height: 1.5rem;
      @include fontSize(1.2rem);
    }

    &__actions {
      flex-direction: row;
      &--new {
        @include fontSize(1.2rem);
        @include padding(0.8rem, 1rem, 0.8rem, 1rem);
      }
    }
  }
}

.saved-joke {
  @include margin(2rem, 0.6rem, 1rem, 0.6rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;

  &__title {
    font-family: $primary-font;
    @include fontSize(2rem);
    margin-bottom: 1.5rem;
  }

  &__body {
    @include padding(0.6rem, 0.9rem, 0.6rem, 0.9rem);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: $secondary-bg-color;
    gap: 0.3rem;
  }
  &__remove-icon {
    @include padding(0.2rem, 0.2rem, 0.2rem, 0.2rem);
    width: 1.6rem;

    border-radius: 4px;
    background-color: $delete-color;
    transition: all 0.3s ease-in-out;
    display: block;
    color: $text-color;

    &:hover {
      background-color: color.scale($delete-color, $lightness: -15%);
    }
  }

  &__text {
    @include fontSize(1rem);
  }

  &__delete {
    border: none;
    cursor: pointer;
    width: 1.6rem;
    border-radius: 4px;
  }

  @media only screen and (min-width: 600px) {
    @include margin(3rem, 0.6rem, 2rem, 0.6rem);
    &__title {
      @include fontSize(3rem);
    }

    &__body {
      gap: 0.5rem;
      & svg {
        width: 1.8rem;
        height: 1.8rem;
      }
    }

    &__text {
      @include fontSize(1.2rem);
    }
  }
}
