@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Scribble&display=swap");
body {
  font-family: "Inter", sans-serif;
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  font-size: 3rem;
  color: green;
  font-family: "Rubik Scribble", sans-serif;
  margin-top: 3rem;
}
@media only screen and (min-width: 600px) {
  .heading {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1000px) {
  .heading {
    margin-top: 4rem;
    margin-right: 0;
    margin-bottom: 3rem;
    margin-left: 0;
  }
}

.current__joke {
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.6rem;
  margin-top: 1rem;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  margin-left: 0.6rem;
  border-radius: 5px;
  background-color: rgb(154, 152, 152);
}
.current__joke__text {
  line-height: 1rem;
  text-transform: capitalize;
}
.current__joke__actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
}
.current__joke__actions--new {
  padding-top: 0.4rem;
  padding-right: 0.6rem;
  padding-bottom: 0.4rem;
  padding-left: 0.6rem;
  font-size: 1rem;
  display: flex;
  gap: 0.3rem;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  background-color: green;
  font-weight: 700;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}
.current__joke__actions--new svg {
  width: 1.5rem;
}
.current__joke__actions--new:hover {
  background-color: rgb(0, 103, 0);
}
.current__joke__actions--save {
  background-color: rgb(154, 152, 152);
  color: green;
}
.current__joke__actions--save:hover {
  color: black;
  background-color: green;
}
@media only screen and (min-width: 600px) {
  .current__joke {
    margin-top: 2rem;
    margin-right: 0.6rem;
    margin-bottom: 2rem;
    margin-left: 0.6rem;
  }
  .current__joke__text {
    line-height: 1.5rem;
    font-size: 1.2rem;
  }
  .current__joke__actions--new {
    font-size: 1.2rem;
    padding-top: 0.8rem;
    padding-right: 1rem;
    padding-bottom: 0.8rem;
    padding-left: 1rem;
  }
}

.saved__joke {
  margin-top: 0;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  margin-left: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.saved__joke__title {
  font-family: "Rubik Scribble", sans-serif;
  font-size: 2rem;
}
.saved__joke__body {
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.6rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(154, 152, 152);
  gap: 0.3rem;
}
.saved__joke__body svg {
  padding-top: 0.2rem;
  padding-right: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.2rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 4px;
  background-color: red;
  transition: all 0.3s ease-in-out;
  display: block;
}
.saved__joke__body svg:hover {
  background-color: rgb(245, 88, 88);
}
.saved__joke__text {
  font-size: 1rem;
}
@media only screen and (min-width: 600px) {
  .saved__joke {
    margin-top: 0;
    margin-right: 0.6rem;
    margin-bottom: 2rem;
    margin-left: 0.6rem;
  }
  .saved__joke__title {
    font-size: 3rem;
  }
  .saved__joke__body {
    gap: 0.5rem;
  }
  .saved__joke__body svg {
    width: 1.8rem;
    height: 1.8rem;
  }
  .saved__joke__body__text {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
